[Desktop Entry]
Encoding=UTF-8
Exec=gambas3
Icon=gambas3
Terminal=false
Name=Gambas3
GenericName=Basic IDE
Comment=IDE based on a Basic interpreter
Comment[es_ES]=Gambas3 casi es Visual Basic
Comment[it_IT]=IDE basato su un interprete Basic
Type=Application
Categories=Development;IDE;
StartupNotify=true
